<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    </head>
    <body>
        <div id="root">
            <div class="box-img">
                <div class="arrow-left">
                    <i @click="prev" class="fas fa-arrow-left"></i>
                </div>
                <div class="content-img">
                    <!-- uso il data array imgs e l'indice dei suoi elementi per spostarmi +1 o - 1 grazie alle funzioni prev e next  -->
                    <img :src="imgs[indice_img]" alt="">
                    <div class="circles">
                        <i v-for="(item, index) in imgs" :class="index == indice_img ? 'active' : null" class="fas fa-circle"></i>
                        <!-- <i v-for="item in imgs" class="far fa-circle"></i> -->
                    </div>

                </div>
                <div class="arrow-right">
                    <i @click="next" class="fas fa-arrow-right"></i>
                </div>
            </div>

        </div>


    <script src="main.js" charset="utf-8"></script>
    </body>
</html>
